

body {

	font-family:Arial,verdana,san-serif;

	color: black;
	background-image:url('water.jpe');

	background-repeat: :no-repeat;

	background-position; right top;

			
}
   
p.test {
    width: 60em; 
    word-wrap: break-word;
}
